body {
    font-family: 'Source Sans Pro', sans-serif; font-weight: 200; color: #000;
    font-size:13px;
}
.navbar {
    width: 66%;
    margin-left:auto;
    margin-right:auto;
}
.container {
    width: 66%;
    margin-left:auto;
    margin-right:auto;
}
.header {
    /*background-color:#eee;*/
    padding:0px;
    margin:0px;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    background-color:#333;
    padding-left:1px;
    padding-right:1px;
    text-decoration: none;
    color:#fff;
    font-weight: 500;               
}
a:hover {
    background-color:#1abc9c;
}
.center {
    text-align: center;
}
.section {
    font-size:30px;
    background-color:#eee;
    padding:10px;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2.2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.35em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    /*font-size: 1.5em;*/
}

ul.posts li {
    list-style: none;
}

li {
	font-size: 15px;
}

h5 {
    font-size:16px;
    font-family: 'Source Sans Pro', sans-serif; font-weight: 200; color: #000;
}

/* how to make the div wider than the parent */
.embeddable {
    background-color:#ff0;
    margin-left:-100px;
    margin-right:-100px;
}



.quotation {
    background-color:#f9f9f9;
    margin-left:-20px;
    margin-right:-20px;  
    font-family: 'Source Sans Pro', sans-serif; font-weight: 500; color: #000;
    font-size:18px;
    line-height:1.6em;
    padding-left:25px;
    padding-right:25px;
    padding-top:12px;
    padding-bottom:12px;
    border-right: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}
.quotation_person {
    text-align:right;
    padding-right:30px;    
    font-size:20px;
    margin-top:12px;
}
