body {
    font-family: 'Source Sans Pro', sans-serif; font-weight: 200; color: #000;
    font-size:13px;
    margin:0px;
}
.navbar {
    width: 66%;
    margin-left:auto;
    margin-right:auto;
}
.container {
    width: 66%;
    margin-left:auto;
    margin-right:auto;
}
.header {
    /*background-color:#eee;*/
    padding:0px;
    margin:0px;
}

ul, li {
    font-size:1.4em;
}

nav ul, footer ul {
    font-size:1.3em;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}



a {
/*    background-color:#333;*/
    padding-left:1px;
    padding-right:1px;
    text-decoration: none;
	border-bottom: 0.5px dashed #888;
    color:#000;
	font-weight:400;
/*    font-weight: bold;               */
}
a:hover {
    background-color:#1abc9c;
    color:#fff;
}
.center {
    text-align: center;
}
.section {
    font-size:30px;
    background-color:#eee;
    padding:10px;
}
h1 {
    font-size: 3em;
/*    font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
}
h2 {
    font-size: 2.2em;
/*    font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
}
h3 {
    font-size: 1.6em;
/*    font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
}
h5 {
    font-size:26px;
/*    font-family: 'Source Sans Pro', sans-serif; font-weight: 200; color: #000;*/
}
p {
    font-size: 1.5em;
    line-height: 1.35em;
    color: #333;
}
li {
    font-size: 1.0em;
    line-height:1.35em;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    width: 66%;
    margin:auto;
}

/*
.figure {
    display: block;
    margin: 0 auto;
}*/

ul.posts {
    margin: 20px auto 40px;
    /*font-size: 1.5em;*/
}

ul.posts li {
    list-style: none;
}


/* figures */
.figure_multi {
    text-align: center;
    margin-left:-300px;
    margin-right:-300px;    
    margin-top:20px;
    margin-bottom:20px;
    padding:10px;    
}
.figure_inner {
    display: inline-block;
    margin-left:5px;
    margin-right:5px;
    border: 0.5px solid #ddd;
    padding:5px;
}
figure {
    display: table;
    width: 1px; 
    margin: 0px;
}
figcaption {
    display: table-row;
    line-height:150%;
    color:#666;
    background-color:#f4f4f4;
    margin-top:2px; 
    padding:0px;
}


/* equations */
.mjx-chtml.MJXc-display {
    font-size:1.4em !important;
}



/* how to make the div wider than the parent */
.embeddable {
    background-color:#ff0;
    margin-left:-100px;
    margin-right:-100px;
}


.quotation {
    position:absolute;
    right:0;

    bottom:0;
    /*margin-right:200px;
    margin-top:100px;*/
    background: rgba(255,255,255,.8);
    width:40%;
    height:150px;
}

.quotation2 {
    position:absolute;

    background: rgba(255,255,255,.8);
    width:40%;
    /*height:150px;*/


    /*background-color:#f9f9f9;*/
    /*margin-left:-20px;
    margin-right:-20px;  */
    font-family: 'Source Sans Pro', sans-serif; color: #000;
    font-size:16px;
    font-weight:400;
    line-height:1.6em;
    padding-left:55px;
    padding-right:25px;
    padding-top:12px;
    padding-bottom:12px;
    border-right: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}

.translator_credit {
	background:#eee;
	padding:10px;
	margin-left:-10px;
	margin-bottom:6px;
}



#header_outer {
    position: relative;
    padding-top: 0px;
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#header_outer img {
	width:100%;
	max-width:1440px;
}

#header_inner {
    background: rgba(255,255,255,.8);
    position: absolute;
    bottom: 0;
	right: 16%;
	width: 25%;
    min-width: 300px;
    max-width: 600px;
    margin-bottom: 16px;
    font-size: 1.15em;
    padding: 20px;
	text-align: left;
	line-height: 120%;
    border: 1px solid #d5d5d5;
}






.demo_main {
    margin:auto; 
    margin-top:24px;
    margin-bottom:24px;
    border: 0.5px solid #ccc;
    padding:5px;
}

.demo_control_panel {
	background-color:#ddd; 
	display:block; 
	padding:5px;
	height:20px;
}

.demo_control_panel_meta {
    font-weight: bold;
    font-size:16px;
    float:left;
}

.demo_control_panel_options {
    float:right;
}

.demo_control_panel_option {
    float:left;
    margin-right:10px;
    margin-left:10px;
    padding:3px;
    color:#fff;
    background-color:#05896a;
}

.demo_control_panel_option:hover {
    background-color:#1abc9c;
    color:#fff;
    cursor:pointer;
}

.demo_description_panel {
    background-color:#eee; 
    margin:auto; 
    display:block; 
}





/* skip-nav link */
.skip {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
    z-index:100000;
    background: #1abc9c;
}

a.skip:active, 
a.skip:focus, 
a.skip:hover {
    left: 0; 
    top: 0;
    width: auto; 
    height: auto; 
    overflow: visible; 
    background: #1abc9c;
}





/* demos */
button {
  margin: 2px;
  padding: 4px;
}
video {
  width: 300;
  height: 300;
}
h6 {
  margin: 4px;
  font-weight: lighter;
  font-size: 14px;
  margin-bottom: 10px;
}