body {
    font-family: 'Source Sans Pro', sans-serif; font-weight: 200; color: #000;
    font-size:13px;
    margin:0px;
}
.navbar {
    width: 66%;
    margin-left:auto;
    margin-right:auto;
}
.container {
    width: 66%;
    margin-left:auto;
    margin-right:auto;
}
.header {
    /*background-color:#eee;*/
    padding:0px;
    margin:0px;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
/*    background-color:#333;*/
    padding-left:1px;
    padding-right:1px;
    text-decoration: none;
	border-bottom: 0.5px dashed #888;
    color:#000;
	font-weight:400;
/*    font-weight: bold;               */
}
a:hover {
    background-color:#1abc9c;
    color:#fff;
}
.center {
    text-align: center;
}
.section {
    font-size:30px;
    background-color:#eee;
    padding:10px;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2.2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 1.6em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h5 {
    font-size:26px;
    font-family: 'Source Sans Pro', sans-serif; font-weight: 200; color: #000;
}
p {
    font-size: 1.5em;
    line-height: 1.35em;
    color: #333;
}
li {
    font-size: 1.0em;
    line-height:1.35em;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    width: 66%;
    margin:auto;
}

.figure {
    display: block;
    margin: 0 auto;
}

ul.posts {
    margin: 20px auto 40px;
    /*font-size: 1.5em;*/
}

ul.posts li {
    list-style: none;
}



/* how to make the div wider than the parent */
.embeddable {
    background-color:#ff0;
    margin-left:-100px;
    margin-right:-100px;
}


.quotation {
    position:absolute;
    right:0;

    bottom:0;
    /*margin-right:200px;
    margin-top:100px;*/
    background: rgba(255,255,255,.8);
    width:40%;
    height:150px;
}

.quotation2 {
    position:absolute;

    background: rgba(255,255,255,.8);
    width:40%;
    /*height:150px;*/


    /*background-color:#f9f9f9;*/
    /*margin-left:-20px;
    margin-right:-20px;  */
    font-family: 'Source Sans Pro', sans-serif; color: #000;
    font-size:16px;
    font-weight:400;
    line-height:1.6em;
    padding-left:55px;
    padding-right:25px;
    padding-top:12px;
    padding-bottom:12px;
    border-right: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}




#quote_outer {
    position: relative;
    padding-top: 0px
}

#quote_inner {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    margin-bottom:10px
}

#quote_content {
    background: rgba(255,255,255,.8);
    width: 530px;
    height: 190px;
    margin-left:auto;
    margin-right: 100px;
    font-size:18px;
    padding:20px;
    border: 1px solid #d5d5d5;
}

#quote_person {
    text-align:right;
    padding-right:30px;
    font-size:20px;
    margin-top:12px;
}






.demo_main {
    margin:auto; 
    margin-top:24px;
    margin-bottom:24px;
    border: 0.5px solid #ccc;
    padding:5px;
}

.demo_control_panel {
	background-color:#ddd; 
	display:block; 
	padding:5px;
	height:20px;
}

.demo_control_panel_meta {
    font-weight: bold;
    font-size:16px;
    float:left;
}

.demo_control_panel_options {
    float:right;
}

.demo_control_panel_option {
    float:left;
    margin-right:10px;
    margin-left:10px;
    padding:3px;
    color:#fff;
    background-color:#05896a;
}

.demo_control_panel_option:hover {
    background-color:#1abc9c;
    color:#fff;
    cursor:pointer;
}

.demo_description_panel {
    height:120px; 
    background-color:#eee; 
    margin:auto; 
    display:block; 
    padding:5px; 
}






