{% assign class = include.class %}
{% assign idx = include.index | plus: 0 %}
{% assign c_idx = idx | plus: 1 %}
{% assign data = site.data.lectures[class][idx] %}
{% assign youtube_id = data.youtube_id %}


<div class="class_main">
	<div class="class_thumb">
		<a href="/classes/{{class}}/0{{c_idx}}"><img class="thumby" src="{{data.thumbnail}}"></a>
	</div>
	<div class="class_meta">
		<a href="/classes/{{class}}/0{{c_idx}}" class="class_title">{{data.title}}</a>
		<br/>
		<a href="/classes/{{class}}/0{{c_idx}}" class="class_date">{{data.date}}</a> [<a href="{{data.dropbox}}">download</a>]
		<span class="class_contents">
		<ul>
			{% for s in data.summary %}
				<li>{{ s }}</li> 
			{% endfor %}			
		</ul>
		</span>
	</div>
</div>

<style>
.class_main {
	border: thick solid #eee;
	width:720px;
	margin-top:20px;
	margin-bottom:20px;
	padding:4px;
}
.class_thumb, .class_meta {
	display:inline-block;
	vertical-align:top;
}
.class_date {
	font-size:16px;
	line-height:175%;
}
.class_title {
	font-size:22px;
	font-weight:400;
}
.class_contents {
	font-size:14px;
}
.class_thumb a {
	background-color:#fff;
	padding-left:0px;
}
.class_thumb a:hover {
	background-color:#1abc9c;
}
.class_meta {
	padding-left:15px;
	width:420px;
}
</style>