{% assign idx = include.index | plus: 0 %}
{% assign c_idx = idx | plus: 1 %}
{% assign data = site.data.itp_lectures[idx] %}
{% assign youtube_id = data.youtube_id %}

<div class="class_main">
	<div class="class_thumb">
		<a href="/classes/itp-S16/0{{c_idx}}"><img class="thumby" src="{{data.thumbnail}}"></a>
	</div>
	<div class="class_meta">
		<h3><a href="/classes/itp-S16/0{{c_idx}}">{{data.date}} :: {{data.title}}</a></h3>
		<ul>
			{% for s in data.summary %}
				<li>{{ s }}</li> 
			{% endfor %}			
		</ul>
	</div>
</div>

<style>
.class_main {
	border: thick solid #eee;
	width:800px;
	margin-top:20px;
	margin-bottom:20px;
}
.class_thumb, .class_meta {
	display:inline-block;
	vertical-align:top;
	padding:8px;
}
.class_thumb a {
	background-color:#fff;
	padding-left:0px;
}
.class_thumb a:hover {
	background-color:#1abc9c;
}
.class_meta {
	width:560px;
}
</style>