{% assign class = include.class %}


<script src="/demos/libraries/jquery-1.8.3.min.js"></script>
<script src="/demos/libraries/convnet.js" type="text/javascript"></script>
<script src="/demos/libraries/util.js" type="text/javascript"></script>
<script src="/demos/src/dataset.js" type="text/javascript"></script>
<script src="/demos/src/convnet.js" type="text/javascript"></script>
<script src="/demos/src/visualizer.js" type="text/javascript"></script>

<script src="/demos/demos/fig_mnist.js" type="text/javascript"></script>

