{% assign name = include.name %}
{% assign title = site.data.guides[name].title %}
{% assign description = site.data.guides[name].description %}
{% assign summary = site.data.guides[name].summary %}
{% assign root_link = "https://github.com/ml4a/ml4a-guides/tree/master/" %}
{% assign link = site.data.guides[name].link %}

<div class="guide_main">
	<div class="guide_thumb">
		<div class="guide_title"><b>{{title}}</b></div>
		<div class="guide_description">{{description}}</div>
		<div class="guide_link">[<a href="{{root_link}}{{link}}">Go to notebook</a>]</b></div>
	</div>
	<div class="guide_meta">
		<ul>
			{% for s in summary %}
				<li>{{ s }}</li> 
			{% endfor %}			
		</ul>
	</div>
</div>

<style>
.guide_main {
	border: thick solid #eee;
	width:720px;
	margin-top:10px;
	margin-bottom:10px;
	padding:4px;
}
.guide_thumb, .guide_meta {
	display:inline-block;
	vertical-align:top;
}
.guide_thumb{
	width:49%;
}
.guide_meta{
	width:49%;
}
.guide_title{
	margin-bottom:8px;
	font-size:18px;
}
.guide_description{
	margin-bottom:8px;
	font-size:14px;
}
.guide_link{
	font-size:16px;
}

</style>