<div class="figure_outer">
	<div class="figure_insert"><img src="/images/neuron-anatomy.jpg" />
		<div class="figure_caption">
			Anatomy of a biological neuron
			<br/>Source: <a href="https://askabiologist.asu.edu/neuron-anatomy">ASU school of life sciences</a>
		</div>
	</div>
	<div class="figure_insert">
		<img src="/images/neuron-simple.jpg" />
		<div class="figure_caption">
			Simplified neuron body within a network
			<br/>Source: <a href="http://www.generation5.org/content/2000/nn00.asp">Gurney, 1997. An Introduction to Neural Networks</a>
		</div>
	</div>
	<div class="figure_insert">
		<img src="/images/figures/neuron.png" />
		<div class="figure_caption">
			Artificial neuron
			<br/>&nbsp;
		</div>
	</div>	
</div>
