
<style>
#outer {
	text-align: center;
	margin-left:-300px;
	margin-right:-300px;
	display:inline-block;
	padding:20px;
}
.insert {
	display: inline-block;
	margin-left:5px;
	margin-right:5px;
	border: 1px solid #ddd;
	padding:5px;
}
.caption {	
	line-height:150%;
	color:#666;
	background-color:#f4f4f4;
	margin-top:8px;
}

</style>
<center>
<div id="outer">
	<div class="insert"><img src="/images/neuron-anatomy.jpg" />
		<div class="caption">
			Anatomy of a biological neuron
			<br/>Source: <a href="https://askabiologist.asu.edu/neuron-anatomy">ASU school of life sciences</a>
		</div>
	</div>
	<div class="insert">
		<img src="/images/neuron-simple.jpg" />
		<div class="caption">
			Simplified neuron body within a network
			<br/>Source: <a href="http://www.generation5.org/content/2000/nn00.asp">Gurney, 1997. An Introduction to Neural Networks</a>
		</div>
	</div>
	<div class="insert">
		<img src="/images/figures/neuron.png" />
		<div class="caption">
			Artificial neuron (<b>fix this</b>)
			<br/>&nbsp;
		</div>
	</div>	
</div>
</center>