{% assign idx = include.index | plus: 0 %}
{% assign data = site.data.itp_lectures[idx] %}
{% assign youtube_id = data.youtube_id %}

<script>
  var player;
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var div = document.getElementsByTagName('script')[0];
  div.parentNode.insertBefore(tag, div);
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('{{ data.name }}_player', {
      height: '400',
      width: '640',
      videoId: '{{ youtube_id }}',
      events: {}
    });
  }
</script>

<div id="{{ data.name }}_container" class="yt_container">
	<div id="{{ data.name }}_playerContainer" class="yt_embed">
		<div id="{{ data.name }}_player"></div>
		<br/><a href="https://www.dropbox.com/sh/omb3entv00zse6h/AABdQtAviPWS2Eq6A0fPO54ma?dl=0">download lecture video here</a>
	</div>
	<div id="{{ data.name }}_bookmarks" class="yt_bookmarks">
		<ul>
		{% for b in data.bookmarks %}
			<li><h4><a href="#" onclick="javascript:player.seekTo({{ b.m | times:60 | plus:b.s }});">{{ b.title }} ({{ b.disp }})</a></h4></li>
		{% endfor %}
		</ul>
	</div>
</div>

<style>
	.yt_container {
		border: thick solid #eee;
	}
	.yt_embed {
		display: inline-block;
		width:65%;
	}
	.yt_bookmarks {
		padding-left:22px;
		display: inline-block;
		width:31%;
		vertical-align:top;
	}
</style>