---
layout: default
title: SchoolOfMa - Summer 2016
---

<h2>The Neural Aesthetic @ <a href="http://schoolofma.org/neural-aesthetic/">SchoolOfMa</a>, Summer 2016</h2>
<h3>Course taught by <a href="http://www.twitter.com/genekogan">@genekogan</a></h3>
{% include class_preview.html class="neural-aesthetic" index=0 %}
{% include class_preview.html class="neural-aesthetic" index=1 %}
{% include class_preview.html class="neural-aesthetic" index=2 %}
{% include class_preview.html class="neural-aesthetic" index=3 %}
{% include class_preview.html class="neural-aesthetic" index=4 %}
{% include class_preview.html class="neural-aesthetic" index=5 %}
{% include class_preview.html class="neural-aesthetic" index=6 %}
{% include class_preview.html class="neural-aesthetic" index=7 %}