---
layout: default
title: ITP-NYU - Spring 2016
---

<h2><a href="http://itp.nyu.edu/camp2016/session/88">ITP Camp session</a> @ <a href="http://tisch.nyu.edu/itp">ITP-NYU</a>, June 2016</h2>
<h3>One-day workshop taught by <a href="http://www.twitter.com/genekogan">@genekogan</a></h3>
{% include class_preview.html class="itp-S16" index=6 %}
<hr width="80%" align="left">
<h2>Machine Learning for Artists @ <a href="https://tisch.nyu.edu/itp/news/summer-2016/gene-kogan--machine-learning-for-artists">ITP-NYU</a>, Spring 2016</h2>
<h3>Course taught by <a href="http://www.twitter.com/genekogan">@genekogan</a></h3>
{% include class_preview.html class="itp-S16" index=0 %}
{% include class_preview.html class="itp-S16" index=1 %}
{% include class_preview.html class="itp-S16" index=2 %}
{% include class_preview.html class="itp-S16" index=3 %}
{% include class_preview.html class="itp-S16" index=4 %}
{% include class_preview.html class="itp-S16" index=5 %}