<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="icon" href="/images/favicon.png">
			<meta charset="utf-8">
		</head>

		<body>
			<div class="navbar">
				<nav>
		    		<ul>
						<li style="display:none;"><a href="#end-nav" class="skip-navigation">Skip Navigation</a></li>
		        		<li><a href="/index">ml4a</a></li>
			        	<li><a href="/guides">guides</a></li>
			        	<li><a href="/demos">demos</a></li>
			        	<li><a href="/classes">classes</a></li>
			        	<li><a href="https://github.com/ml4a">code</a></li>
			        	<li><a href="https://www.twitter.com/ml4a_">@</a></li>
		    		</ul>
				</nav>
			</div>

			<span id="end-nav"></span>
			<div class="container">
				{{ content }}
			</div>
			
			<footer>
	    		<ul>
	        		<li><a href="https://ml4a.github.io/about/">about</a></li>
	        		<li><a href="https://ml4a.github.io/archive/">archive</a></li>
	        		<li><a href="https://github.com/ml4a">github.com/ml4a</a></li>
				</ul>
			</footer>
		</body>
	</html>