<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="icon" href="/images/favicon.png">
    </head>

    <body>    	
		{% if page.script_includes contains 'mathjax' %}
			<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
			<script>
				MathJax.Hub.Config({
					jax: ["input/TeX","output/HTML-CSS"],
					tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
				});
			</script>
		{% endif %}
		{% if page.script_includes contains 'jquery' %}
			<script src="/demos/libraries/jquery-1.8.3.min.js"></script>
		{% endif %}
		{% if page.script_includes contains 'convnetjs' %}
			<script src="/demos/libraries/convnet.js" type="text/javascript"></script>
			<script src="/demos/libraries/util.js" type="text/javascript"></script>
		{% endif %}
		{% if page.script_includes contains 'dataset' %}
			<script src="/demos/src/dataset.js" type="text/javascript"></script>
		{% endif %}
		{% if page.script_includes contains 'convnet' %}
			<script src="/demos/src/convnet.js" type="text/javascript"></script>
		{% endif %}
		{% if page.script_includes contains 'visualizer' %}
			<script src="/demos/src/visualizer.js" type="text/javascript"></script>
		{% endif %}
		
		<script src="{{ page.script }}" type="text/javascript"></script>

		
		<script>
			var parent_div = document.body;
			var width = {{page.width}};;
			var height = {{page.height}};



			var demo_div = document.createElement('div');
			var control_panel = document.createElement('div');
			var control_panel_meta = document.createElement('div');
			var control_panel_options = document.createElement('div');
			var description_panel = document.createElement('div');
			var canvas = document.createElement('canvas');
			control_panel.appendChild(control_panel_meta);
			control_panel.appendChild(control_panel_options);
			demo_div.appendChild(control_panel);
			demo_div.appendChild(description_panel);
			demo_div.appendChild(canvas);
			parent_div.appendChild(demo_div);
			demo_div.className = 'demo_main';
			demo_div.style.width = width+"px";
			control_panel.className = 'demo_control_panel';
			control_panel_meta.className = 'demo_control_panel_meta';
			control_panel_options.className = 'demo_control_panel_options';
			control_panel_meta.innerHTML = '{{page.title}}';
			description_panel.className = 'demo_description_panel';
			canvas.width = width;
			canvas.height = height;
			canvas.style = 'margin:auto; display:block;';

			function set_text_panel(text) {
				description_panel.innerHTML = text;
				MathJax.Hub.Queue(["Typeset", MathJax.Hub, description_panel])
			}
			
			function add_control_panel_action(text, action) {
				var control_panel_option = document.createElement('div');
				control_panel_option.className = 'demo_control_panel_option';
				control_panel_option.innerHTML = text;
				control_panel_option.onclick = action;
				control_panel_options.appendChild(control_panel_option);
			}


			var parent = {demo_div:demo_div, canvas:canvas};

			{% if args %}
				demo(parent, {{page.width}}, {{page.height}}, {{page.args}});
			{% else %}
				demo(parent, {{page.width}}, {{page.height}});
			{% endif %}
		</script>	

  	</body>

	<footer>
		<ul>
			<li><a href="https://ml4a.github.io/about/">about</a></li>
			<li><a href="https://ml4a.github.io/archive/">archive</a></li>
			<li><a href="https://github.com/ml4a">github.com/ml4a</a></li>
		</ul>
	</footer>

</html>