<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">			
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="icon" href="/images/favicon.png">
		
		<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>

		
	</head>
	
	<body>

		<div class="navbar">
			<nav>
		    	<ul>
					<li><a href="/index">ml4a</a></li>
					<li><a href="/guides">guides</a></li>
					<li><a href="/demos">demos</a></li>
					<li><a href="/classes">classes</a></li>
					<li><a href="https://github.com/ml4a">code</a></li>
					<li><a href="https://www.twitter.com.com/ml4a_">@</a></li>
		    	</ul>
			</nav>
		</div>

		<div class="container">
			<h1>{{ page.title }}</h1>
			
			<div id="post" class="post">
					{{ content }}
			</div>

		</div>
		
		<footer>
    		<ul>
				<li><a href="https://ml4a.github.io/about/">about</a></li>
				<li><a href="https://ml4a.github.io/archive/">archive</a></li>
				<li><a href="https://github.com/ml4a">github.com/ml4a</a></li>
			</ul>
		</footer>

	</body>
</html>